.LoginScreen::before {
    position: fixed;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../../assets/bridge.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px) sepia(20%) brightness(0.7);
}


.Button {
    box-shadow: -1px 2px 6px 1px rgba(84, 74, 74, 0.3);
}

.List::-webkit-scrollbar, .Options::-webkit-scrollbar {
    display: none;
}